.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 900;
  padding: 10px;
  text-align: center;
  backdrop-filter: blur(10px);
  /* background-color: rgba(255, 255, 255, 0.9); */
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.list {
  list-style-type: none;
  padding: 10px;
  display: flex;
}

.link {
  text-decoration: none;
  margin: 0 10px;
  color: gray;
  padding: 10px;
  font-weight: 600;
  font-size: large;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #007fff;
  }
  &:last-child {
    cursor: pointer;
  }
}

.logoutBtn {
  font-weight: 600;
}

.text {
  margin: 0 10px;
  color: gray;
  padding: 10px;
  font-weight: 600;
  font-size: large;
}
