@import-normalize; /* bring in normalize.css styles */

:root {
  --box-shadow: 0 2px 3px rgba(101, 101, 101, 0.1),
    0 -2px 3px rgba(101, 101, 101, 0.1), 2px 0 3px rgba(101, 101, 101, 0.1),
    -2px 0 3px rgba(101, 101, 101, 0.1);
  --top-color: #565e67;
}

::-webkit-scrollbar {
  display: none; /* Приховати плашку скролу для браузерів, які підтримують Webkit (Chrome, Safari) */
}

body {
  background-color: #e7ecf2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-transform: uppercase;
  color: var(--top-color);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 30px auto;
  padding: 30px 0 40px 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}
