.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 420px;
  opacity: 1;
  transition: filter 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.blurred {
  pointer-events: none;
  filter: blur(1px);
  opacity: 0.6;
}

.list.blurred {
  transition: filter 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: var(--top-color);
  font-weight: 600;
  background-color: #e1ebf5;
  box-shadow: var(--box-shadow);
}

.number {
  color: inherit;
}

.deleteBtn {
  border: none;
  cursor: pointer;
  background-color: #fdd9d9;
  color: #cc3329;
  width: 60px;
  height: 40px;
  box-shadow: var(--box-shadow);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: #cc3329;
    color: #ffffff;
  }
}

.loader {
  width: 100%;
  height: 4.8px;
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
}

.noneLoader {
  height: 4.8px;
  padding-bottom: 20px;
}

.loader::after {
  content: '';
  width: 96px;
  height: 4.8px;
  background: var(--top-color);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: hitZak 0.6s ease-in-out infinite alternate;
}

@keyframes hitZak {
  0% {
    left: 0;
    transform: translateX(-1%);
  }
  100% {
    left: 100%;
    transform: translateX(-99%);
  }
}

.errorMessage {
  color: #cc3329;
  font-weight: 600;
}
